@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
.App {
  text-align: center;
  padding: 0px;
}

.App-logo {
  width: 150px;
  //height: 40vmin;
}

.App-header {
  background-color: #999999;
  min-height: 100vh;
  padding: 15px;
  text-align: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

